* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

body {
    /* font-family: mont */
    max-width: 1920px;
    display: block;
    margin: auto !important;
}

/* ? Start Nav bar */

nav {
    background-color: #fff;
    height: 60px;
    width: 100%;
    margin: auto;
    z-index: 1;
    position: fixed;
    top: 0;
}

@media (min-width: 1919px) {
    nav {
        position: static;
        margin-bottom: -60px;
    }

    .slide,
    .carousel-inner {
        margin-top: 0px !important;
    }
}

label.logo {
    color: #000;
    font-size: 35px;
    line-height: 55px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 55px;
    margin: 0 5px;
}

nav ul li a {
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    /* border-radius: ; */
}

a:horver {
    background: #000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 55px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .nav ul li a {
        font-size: 16px;
    }

    ul {
        width: 40% !important;
    }
}

@media(max-width: 600px) {
    ul {
        width: 50% !important;
    }

    nav ul li {
        margin-left: -10px !important;
        font-weight: 500 !important;
        font-size: 15px !important;
    }

    .btnlogin-sign {
        padding: 0px 2px !important;
        font-weight: 100;
        font-size: 15px;
    }
}

.btnlogin-sign {
    padding: 0px 5px;
    font-weight: 100;
    font-size: 25px;
}

/* @media(max-width: 858px){ */
.checkbtn {
    display: block;
}

ul {
    position: fixed;
    width: 22%;
    height: 100vh;
    background-color: #fff;
    top: 55px;
    right: -100%;
    text-align: left;
    transition: all .5s;
}

nav ul li {
    display: block;
    margin-left: 10%;
    font-weight: 600;
}

nav ul li a {
    font-size: 20px;
}

/* a:hover{
        
    } */

#check:checked~ul {
    right: -20px;
}

/* } */
/* ? End navbar */

/* ? Start Banner */
.carousel-indicators button {
    /* background-color: aqua !important; */
    height: 10px !important;
    width: 10px !important;
    border-collapse: separate !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    z-index: 10 !important;
}

.slide,
.carousel-inner {
    z-index: 0 !important;
    margin-top: 60px !important;
}

.slide1,
.carousel-inner {
    z-index: 0 !important;
    margin-top: 0px !important;
}


.carousel-caption {
    right: 30% !important;
    left: 5% !important;
    top: 15%;
    text-align: left !important;
}

.carousel-caption h1 {
    font-size: 6vw;
}

.carousel-caption h5 {
    font-size: 3vw;
}

.readmore {
    margin-top: 20%;
    border: 1px solid #707070;
    padding: 5px;
    width: 150px;
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

@media (max-width: 600px) {
    .carousel-caption {
        top: 2%;
        font-size: var(--bs-body-font-size);
    }

    .carousel-caption h1 {
        font-size: var(--bs-body-font-size);
    }

    .carousel-caption h5 {
        font-size: var(--bs-body-font-size);
    }

    .readmore {
        margin-top: 10%;
        border: 1px solid #707070;
        padding: 5px;
        width: 100px;
        text-align: center;
        color: #fff;
    }
}

/* ? End banner */

/* ? Start Who */
.who {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
    font-size: 2vw;
}

.imgwho {
    width: 100%;
    margin-top: -5px;
}

.centered {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-iconwho {
    margin-top: 60px;
}

.iconwho {
    max-width: 150px;
    margin: auto !important;
}

@media (max-width: 946px) {
    .who {
        font-size: 17px;
    }

    .centered {
        width: 80%;
    }
}

@media (max-width: 784px) {
    .who {
        font-size: 13px;
    }

    .centered {
        width: 80%;
    }

    .content-iconwho {
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    .centered {
        top: 40%;
    }
}

@media (max-width: 409px) {
    .who {
        font-size: 2vw;
    }
}

/* ? End Who */

/* ? Start Filrer */
.content-filter {
    height: 50px;
    text-align: center;
    background-color: #E6E6E6;
    font-size: 23px;
}

.filter {
    line-height: 50px;
}

.inputfilter {
    padding-left: 10px;
}

/* .selector{
    width: 100px;
    background-color: #fff;
    border: 1px solid #707070;
} */
.form-select {
    width: 130px !important;
    display: inline !important;
    background-image: url("./img/Polygon1.png") !important;
    background-size: 10px !important;
}

select {
    text-align: center !important;
    text-align-last: center !important;
    /* height: 30px !important; */
}

@media (max-width: 735px) {
    .content-filter {
        font-size: 14px;
    }

    select {
        height: 30px !important;
    }

    .form-select {
        width: 90px !important;
        font-size: 12px !important;
    }
}

@media (max-width: 600px) {
    .content-filter {
        font-size: 12px;
    }

    select {
        height: 28px !important;
    }

    .form-select {
        width: 78px !important;
        font-size: 10px !important;
    }

    .inputfilter {
        padding-left: 2px;
    }
}

/* ? End Filter */
/* ? Start index product */
.indexproduct {
    text-align: center !important;
    margin-top: 30px !important;
}

.labelproduct {
    font-size: 25px;
    font-weight: 500;
}

.labelmed {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.pevent {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 300;
}

.discovermore {
    margin: 20px auto;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid #707070;
    color: #707070;
    background-color: #fff;
    padding: 5px;
    width: 130px;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(78, 78, 78, 0.24) 0px 3px 8px;
}

.discovermore:hover {
    background-color: #707070;
    border: 0px;
    color: #fff;
}

.product-content {
    border-right: 0.5px solid #c5c5c5;
    /* height: 320px; */
    padding: 0px 10px;
}

.product-contentend {
    border-right: 1px solid #c5c5c5;
    /* height: 320px; */
    /* padding-right: 10px; */
    padding: 0px 10px;
}

.col-6 {
    padding: 0px !important;
}

.headproduct {
    margin-bottom: 100px;
}

.row {
    width: 100%;
}

.product {
    width: 33.33%;
}

.containerimglast {
    padding: 40px 15%;
}

/* 
.carousel-control-next{
    right: -2% !important
}

.carousel-control-prev{
    left: -80px !important
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none !important;
    opacity: 1;
}

.carousel-control-next {
    justify-content: flex-end !important;
}

.carousel-control-prev {
    justify-content: flex-start !important;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 35px;
    font-weight: lighter;
    color: #707070;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 35px;
    color: #707070;
}

@media (max-width: 1119px) {
    .productshownone {
        display: none;
    }

    .product-contentend {
        border: 0px;
    }

}

@media (max-width: 700px) {
    .labelproduct {
        font-size: 18px;
    }

    .labelmed {
        font-size: 12px;
        font-weight: 500;
    }

    .pevent {
        font-size: 10px;
    }

    .containerimglast {
        padding: 40px 2%;
        margin-left: 20px;
    }
}

/* ? End index product  */

/* ? Start footer */
.footer {
    width: 100%;
    background-color: #262626;
    height: 100px;
    color: #fff;
}

.footerleft {
    float: left;
    line-height: 50px;
}

.footerright {
    float: right;
    line-height: 50px;
}

.footerleft-content {
    padding: 0px 20px;
}

.footerleft-content-social {
    padding: 0px 10px;
}

.copyright {
    color: #D5D5D5;
    padding-left: 20px;
    margin-top: -10px;
    font-size: 13px;
}

.footerrightlast {
    padding-right: 30px;
}

.imgsocial {
    width: 25px;
}

@media (max-width: 700px) {
    .footerleft-content {
        padding: 0px 10px;
    }
}

@media (max-width: 600px) {
    .footerleft-content {
        padding: 0px 5px;
        font-size: 12px;
    }

    .footerleft-content-social {
        padding: 0px 5px;
    }

    .footerleftfirst {
        padding-left: 20px;
    }

    .copyright {
        padding-left: 20px;
    }

    .imgsocial {
        width: 17px;
    }

    .footerrightlast {
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    .footerleft-content {
        padding: 0px 2px;
    }

    .footerleftfirst {
        padding-left: 20px;
    }
}

/* ? End footer */

/* ? Start popup message */
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.7); */
    z-index: 1;
    display: none;
}

.popup .content {
    position: fixed;
    top: 72%;
    left: 78%;
    transform: translate(-10%, -10%) scale(0);
    background: #fff;
    width: 40%;
    height: auto;
    z-index: 2;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    color: #000;
    border-radius: 20px;
}

.btn-primary {
    border-radius: 7px !important;
}
@media (max-width: 1100px) {
    .popup .content {
        width: 50%;
        left: 70%;
        top:83%;
    }
}

@media (max-width: 1000px) {
    .popup .content {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .popup .content {
        width: 60%;
        left: 65%;
        top: 77%;
    }
}

@media (max-width: 700px) {
    .popup .content {
        width: 60%;
        left: 65%;
        top: 65%;
    }

    .content h1 {
        font-size: 35px !important;
    }

    .content p {
        font-size: 20px !important;
    }
}

@media (max-width: 600px) {
    .popup .content {
        width: 70%;
        left: 60%;
        top: 65%;
    }
}

@media (max-width: 500px) {
    .popup .content {
        width: 85%;
        left: 55%;
        top: 70%;
    }
}

@media (max-width: 412px) {
    .popup .content {
        width: 90%;
        left: 52%;
        top: 62%;
    }
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    /* background: #222222; */
    border: 1px solid #707070;
    color: #707070;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
}

.popup .close-btn-dot {
    cursor: pointer;
    position: absolute;
    right: 50px;
    top: 20px;
    width: 20px;
    height: 20px;
    /* background: #222222; */
    border: 1px solid #707070;
    color: #707070;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
    border-radius: 50%;
}


.popup.active .overlay {
    display: block;
}

.content h1 {
    font-size: 45px;
}

.content p {
    font-size: 25px;
    color: #707070;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    padding: 30px 30px;
}

/* ? End popup message */

/* ? start pop message */
.message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: #0099FE; */
    /* color: #fff; */
    /* height: 60px; */
    /* width: 60px; */
    /* border-radius: 50%; */
    text-align: center;
    /* font-size: 30px; */
}

/* ? End pop message */

/* ? Start Sing up page */
.singup {
    margin-top: 20px;
    padding: 0px 7%;
}

.form {
    margin-top: 30px !important;
    font-size: 18px;
}

.headsignup {
    margin-bottom: 10px;
}

.spaninputsignup {
    margin-left: 10%;
}

.surname {
    text-align: center;
}

.inputsignup {
    width: 65%;
}

.forminput {
    width: 100%;
    border: 1px solid #aaaaaa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.forminputother {
    width: 30%;
    border: 1px solid #aaaaaa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 25px;
}


.formsubmit {
    text-align: center !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.formsubmit .btn-dark {
    background-color: #505050;
}

@media (max-width: 700px) {
    .forminputother {
        width: 42%;
    }

    .surname {
        text-align: left;
    }
}

@media (max-width: 365px) {
    .forminputother {
        width: 30%;
    }
}

.current_items {
    width: 100%;
    margin: 0;
    transition: .4s;
    /* display: flex; */
    /* flex-flow: row wrap; */
}

#radio1 {
    display: none;
}

#radio1:checked+.labelradio::after {
    display: block;
    transform: scale(1);
    opacity: 1;
    border: 1px solid #000;
    background-color: #aaaaaa;
}

#radio2 {
    display: none;
}

#radio2:checked+.labelradio::after {
    display: block;
    transform: scale(1);
    opacity: 1;
    border: 1px solid #000;
    background-color: #aaaaaa;
}

#radio3 {
    display: none;
}

#radio3:checked+.labelradio::after {
    display: block;
    transform: scale(1);
    opacity: 1;
    border: 1px solid #000;
    background-color: #aaaaaa;
}

#radio4 {
    display: none;
}

#radio4:checked+.labelradio::after {
    display: block;
    transform: scale(1);
    opacity: 1;
    border: 1px solid #000;
    background-color: #aaaaaa;
}

.labelradio {
    /* font-weight: lighter; */
    color: #000;
    margin: 0;
    margin-top: 10px;
    padding-left: 35px;
    display: inline-block;
    position: relative;
}

.labelradio::before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background: #fff;
    margin-top: -10px;
    border: 1px solid #aaaaaa;
}

.labelradio::after {
    background: #aaaaaa;
    left: 0;
    top: 46%;
    transition: .3s;
    transform: scale(3.4);
    opacity: 0;
    margin-top: -6px;
    margin-left: 1px;
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    left: 2px;
}

.swal-button--text1 {
    background-color: #fff;
    color: #3f3f44;
    width: 40vw;
    white-space: pre;
    cursor: default;
}

.swal-button--text2 {
    background-color: #fff;
    color: #3f3f44;
    width: 40vw;
    white-space: pre;
    cursor: default;
}

.swal-button--text3 {
    background-color: #fff;
    color: #3f3f44;
    border: none;
    width: 40vw;
    white-space: pre;
    cursor: default;
}

.swal-button--vis {
    display: none;
}

/* ? End sing up page */



/* ? Start Service Page */
.imgservice {
    width: 80%;
    max-width: 300px;
    display: block;
    justify-content: center;
}

.textservice{
    text-align: left;
    display: block;
    margin: auto;
}

@media (max-width: 600px){
    .imgservice{
        margin-top: 15px;
        max-width: 100px;
    }
}

@media (max-width: 500px){
    .imgservice{
        margin-top: 55px;
    }
}

@media (max-width: 350px){
    .imgservice{
        margin-top: 50px;
    }
}

/* ? End Service Page */

/* ? Start Contact Page */
.Contact{
    text-align: center;
    align-items: center;
    max-width: 450px;
}

.contentContact{
    max-width: 400px;
    margin: 0px auto;
    padding: 0px 10px;
    padding-left: 20px;
}

.imgsocialContact{
    width: 30px;
    margin-top: 20px;
}

.imgcontact{
    margin: auto;
    display: block;
}

@media (max-width: 575px){
    .container{
        padding-left: 25px !important;
    }
}
/* ? End Contact Page */
